.advantages {
    max-height: 474px;
    margin: 0 auto;
    padding: 71px 0 78px 0;

    &__r {
        display: flex;
        justify-content: space-evenly;
        margin-top: 67px;
        
           
    }

    &__t {
        width: 240px;
        height: 230px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #0d0d0d;
        h3 {
            margin-top: 40px;
        }

        span {
            text-decoration: underline;
            color: #ff0000;
        }
    }
}